html, body{
    margin: 0px;
    background-color: #f2e2e2;
}

header {
    background-color: #c88e83;
    color: #fff;
    width: 98%;
    height: 200px;
    margin: 1%;
}

header h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 60px;
    font-size: 50px;
}

.wrapper {
    background-color: #d7a9a9;
    width: 98%;
    margin: auto;
}

.pagina{
    width: 200px;
    height: 200px;
    margin: 10px 20px 10px 20px;
    transition: background-color 100ms ease-out 100ms
}

.pagina:hover{
    background-color: #f2e2e2;
}

table {
    margin: auto;
}


footer {
    background-color: #ba7b7c;
    color: #fff;
    width: 98%;
    height: 60px;
    margin: auto;
}

footer p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 20px;
}
